.container {
    border: 2px solid black;
    margin: auto;

}

.btnClass {
    padding: 0.5em;
    border-radius: 0.5em;
    background-color: gold;
    margin: 1em;
}

#cards {
    display: inline-grid;
    grid-template-rows: 50% 50%;
}

.panels {
    border: 2px solid black;
    margin: auto;
    width: 45vw;
}

#leftPanel {
    justify-self: center;
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
}

#addCard {
    /* justify-self: center stretch; */
    margin: auto;
}

#rightPanel {
    grid-area: 1 / 2 / 2 / 3;
}


