.container {
    border: 2px solid black;
    margin: auto;

}

.btnClass {
    padding: 0.5em;
    border-radius: 0.5em;
    background-color: gold;
    margin: 1em;
}

#cardsContainer {
    display: grid;
    grid-template-rows: 50% 50%;
}

.panels {
    border: 2px solid black;
    margin: auto;
    width: 45vw;
}

#leftPanel {
    grid-area: 1 / 1 / 2 / 2;
    display: inline-flex;
    flex-direction: column;
    /* justify-self: center; */
}

#addCard {
    /* justify-self: center stretch; */
    margin: auto;
}
.cards {
    text-align: center;
    margin: 0.5em auto;
    border: 2px solid black;
}

#cardTitle {
    margin: auto;
}
#rightPanel {
    grid-area: 1 / 2 / 2 / 3;
}


